body {
    background-color:   rgb(53, 53, 53);
}

#screen {
    display: flex;
    flex-direction: column;
}

#screen > .menu{
    flex: 1 1 auto;
    height: 225px;
    align-items: center;
    display: flex;
}

.menu > * {
    width: 400px;
}

#choices {
    margin-left: 30%;
    transition: all 1s ease-in-out;
}

#choices:hover > .choice{
    opacity: 0.3;
}

#choices:hover > .choice:hover{
    opacity: 1;
    transform: scale(1.1);
}

.choice {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    margin: 10%;
    font-size:20px;
    display: block;
}

* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size:20px;
}